In [42]:
import pandas as pd

from sqlalchemy import create_engine, text

In [45]:
passs="India%401234"
user='postgres'
host='localhost'
port='5432'
database="social_book"

engine = create_engine(f'postgresql+psycopg2://{user}:{passs}@{host}:{port}/{database}')
# engine = create_engine(dialect+driver://username:password@host:port/database_name)

In [33]:
engine

Engine(postgresql+psycopg2://postgres:***@localhost:5432/social_book)

In [36]:
sqlachemy.text

NameError: name 'sqlachemy' is not defined

In [46]:

ql_query2 = f"""
                            SELECT * from "public"."register_customuser"
                        """
db=pd.read_sql_query(con=engine.connect(), 
                                  sql=text(ql_query2))

In [47]:
db

,id,password,last_login,is_superuser,username,first_name,last_name,is_staff,is_active,date_joined,gender,fullname,email
0,1,pbkdf2_sha256$600000$4ZeUcceYLWaOn6WaI6n5ML$TG...,2023-07-05 10:16:21.354989+00:00,True,,,,True,True,2023-07-05 10:15:25.447407+00:00,,,sidvarangaonkar5@gmail.com
1,2,pbkdf2_sha256$600000$0A4ctuQjVuv4a0yDCaAI0B$x9...,2023-07-05 10:24:53.267206+00:00,False,Sid,,,False,True,2023-07-05 10:24:24.531935+00:00,M,Siddharth,1032201708@mitwpu.edu.in
2,3,pbkdf2_sha256$600000$0P0I0n2QVK4ML9meRJ5vCM$t4...,2023-07-05 10:27:16.635466+00:00,False,abc,,,False,True,2023-07-05 10:27:07.168242+00:00,M,ghg,aa@gmail.com
3,4,pbkdf2_sha256$600000$CGqkaODxBE0qwX3Fark8Eb$MN...,2023-07-05 11:11:22.657376+00:00,False,siddd,,,False,True,2023-07-05 11:11:03.952188+00:00,M,abccc,ww@gmail.com

In [49]:
type(db)

pandas.core.frame.DataFrame

In [53]:
db.shape

(4, 13)

In [56]:
rslt_df = db[db['is_superuser'] == True]

In [57]:
rslt_df

,id,password,last_login,is_superuser,username,first_name,last_name,is_staff,is_active,date_joined,gender,fullname,email
0,1,pbkdf2_sha256$600000$4ZeUcceYLWaOn6WaI6n5ML$TG...,2023-07-05 10:16:21.354989+00:00,True,,,,True,True,2023-07-05 10:15:25.447407+00:00,,,sidvarangaonkar5@gmail.com

In [64]:
filtered_data = db[(db['is_superuser'] == True)  &
                   (db['is_active'] == False )]

In [65]:
filtered_data

Empty DataFrame
Columns: [id, password, last_login, is_superuser, username, first_name, last_name, is_staff, is_active, date_joined, gender, fullname, email]
Index: []